trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

stages:

- stage: Build
  displayName: 'Build Stage'
  jobs:
  - job: BuildJob
    displayName: 'Maven Build Job'
    steps:

    - task: JavaToolInstaller@0
      displayName: 'Set up Java JDK'
      inputs:
        versionSpec: '11'
        jdkArchitectureOption: 'x64'
        jdkSourceOption: 'PreInstalled'

    - script: |
        mvn clean package
      displayName: 'Build Maven Project'

- stage: Test
  displayName: 'Test Stage'
  dependsOn: Build
  condition: succeeded()
  jobs:
  - job: TestJob
    displayName: 'Regression Test Job'
    steps:

    - script: |
        mvn test
      displayName: 'Run Regression Tests'
      continueOnError: true

    - task: PublishTestResults@2
      displayName: 'Publish Test Results'
      inputs:
        testResultsFormat: 'JUnit'
        testResultsFiles: '**/surefire-reports/*.xml'
        mergeTestResults: true